body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px;
    background-color: white;
}

.container{
    max-width: 400px;
    margin: auto;
    background: #0d1b2a;
    color: #E0E1DD;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px #1b263b;
}

input{
    display: block;
    width: 90%;
    margin: 10px 0;
    padding: 10px;
}

button{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button{
    background: #778da9;
    color: white;
    border: #1b263b;
    cursor: pointer;
}

button:hover{
    background: #415a77;
}

hr{
    margin: 20px 0;
}